<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<main id="app">
		<input type="text" v-model="task">
		<button @click="saveTask">submit</button>

		<table style="width:100%" border="1">
			<thead>
				<tr>
					<th>No.</th>
					<th>todo</th>
					<th>Time</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(todo, index) in todos">
					<td>{{index+1}}</td>
					<td>{{todo.todo}}</td>
					<td>{{todo.createdAt}}</td>
					<td>
						<button @click="removeTask(index)">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
	</main>

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script type="text/javascript">

		var app = new Vue({
			el: '#app',
			data: {
				task: null,
				todos: [
					{
						todo: 'task 1',
						createdAt: '2018-01-19 16:44:00'
					},
					{
						todo: 'task 2',
						createdAt: '2018-01-19 16:45:00'
					}
				]
			},
			methods: {
				saveTask: function () {
					this.todos.push({
						todo: this.task,
						createdAt: new Date()
					})

					this.task = null
				},
				removeTask: function (index) {
					this.todos.splice(this.index, 1)

				}
			}
		})
	</script>
</body>
</html>
